<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="images-folder" value="D:\Users\Mauro\Desktop\Nueva carpeta (2)\Escritorio\Curso C# Nivel 2\pokeapp\"/> <!--se pone en una carpeta generica ej c://carpeta para que sea facil de instalar en cualquier lado-->
	</appSettings>
</configuration>